apiVersion: v1
kind: Secret
metadata:
  name: cloudtask-secret
type: Opaque
stringData:
  SECRET_KEY: SUA_SECRET_KEY_AQUI
  DATABASE_URL: postgresql://USUARIO:SUA_SENHA_AQUI@SEU_HOST_RDS:5432/SEU_BANCO
  STORAGE_BACKEND: s3
  AWS_S3_BUCKET: SEU_BUCKET_AQUI
  AWS_REGION: us-east-1
  AWS_ACCESS_KEY_ID: SEU_ACCESS_KEY_AQUI
  AWS_SECRET_ACCESS_KEY: SEU_SECRET_ACCESS_KEY_AQUI
  AWS_SESSION_TOKEN: SEU_SESSION_TOKEN_AQUI
